
/.idea/
/log-usage.txt
/webapp-temp/
/hs_err_*.log
.DS_Store
/src/main/webapp/WEB-INF/source-jsp/
/.bloop/
/*.iml
/dumpTemp/
/developer.properties
/logs/
/config/
/cache/
/tracking.txt
/src-deps/
/.logs/
/target/
/webapp-composite/
/webapp-exploded/

/.bloop-config/
/.idea/
target
.metals
/out/
/.gradle
/.bsp
.envrc
.direnv
.envrc
.direnv
/temp
.vscode/
project/.bloop
project/project
